html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:100px auto 80px 40px;
    grid-template-areas: 
        "h h h"
        "m m m"
        "w w w"
        "f f f";
}
.container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
}
header {
    grid-area: h;
    background-color: cyan;
}
main {
    grid-area: m;
    background-color: darkgreen;
}
.widget {
    grid-area: w;
    background-color: darkmagenta;
}
footer {
    grid-area: f;
    background-color: darkorange;
}

@media (min-width:500px) {
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 150px repeat(2, 1fr);
        grid-template-rows: auto 80px 40px;
        grid-template-areas: 
            "h m m"
            "h w w"
            "h f f";
    }
}
@media (min-width:800px) {
    .container {
        height: 100%;
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        grid-template-rows: auto 40px;
        grid-template-areas: 
            "h m w"
            "h f w";
    }
}