html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid_container{
    height: 200%;
    display: grid;
    grid-template-rows: 100px 60px auto 180px;
    grid-template-columns: 1fr auto 1fr
}
.grid_container > * {
    display: flex;
}
.big{
    font-size: 20pt;
}
.big_only{
    display: none;
}
.adspace{
    display: none;
}
header {
    grid-row: 1/2;
    grid-column: 1/-1;
}
header>*{
    background-color: slategray;
    display: flex;
    height: 100%;
    color: seashell;
}
.header_left{
    align-items: center;
    width: fit-content;
    padding-right: 40px;
}
.header_right{
    padding-right: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
nav {
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: seagreen;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
}
main {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: flex;
    flex-flow: column wrap;
    min-width: 50%;
    background-color: darkseagreen;
}
article{
    display: flex;
    padding: 20px;
    flex-direction: column-reverse;
}
article>img{
    align-self: center;
    max-height: 200px;
    padding: 10px;
    border-radius: 50%;
}
footer {
    grid-row: 4/5;
    grid-column: 1/-1;
    display: flex;
    background-color: sandybrown;
}
@media (min-width: 600px) {
    .big{
        font-size:42pt;
    }
    article{
        flex-direction: row;
    }
    article.left{
        flex-direction: row-reverse;
    }
}
@media (min-width: 1250px) {   
    .big_only{
        display: inherit;
    }
    main {
        grid-row: 3/4;
        grid-column: 2/-2;
    }
    .adspace{
        display: flex;
        grid-row: 3/4;
        grid-column: -2/-1;
        width: 200px;
        overflow: hidden;
    }
    .adspace#left{
        grid-column: 1/2;
        flex-direction: row-reverse;
    }
}